.box-social{
    text-decoration: none;
    
    &__icon-1{
        color: pink;
        font-size: 25px;
    }

    &__icon-2{
        color: blue;
        font-size: 25px;
    }

    &__icon-3{
        color: Red;
        font-size: 25px;
    }
}